<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    Order Details for: <%= @order.email %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <%= render 'item', item: item %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%=  @line_total / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  </div>
  

  <%= link_to "Back to Home", root_path, class: 'btn btn-lg btn-primary' %>

</section>
