<section class="cart-show">
  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <div class="panel panel-default items">
  <%
=begin%>
  we use the enchaned_cart.empty here because @enhanced_cart has not yet been initialized by enhanced_cart method
<%
=end%>
    <% if enhanced_cart.empty? %>
    <%
=begin%>
  The form_tag products_path,method: :GET below equals to 
  form_tag({products_path,method: :GET}) 
  we pass a hash item to the form_tag to perform GET method and path
<%
=end%>
    <%= form_tag products_path,method: :GET do %> 
    <p class="alert alert-warning">Your cart is empty, please go check out our plants.</p>
      <input type="submit" class="btn btn-primary" value="Back">
      <% end %>
    <% else %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% enhanced_cart.each do |item| %>
          <%= render 'item', product: item[:product], quantity: item[:quantity].to_i %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= cart_subtotal_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag orders_path do %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= cart_subtotal_cents %>"
          data-name="Jungle"
          data-description="Khurram Virani's Jungle Order"
          data-locale="auto"
          data-email="kvirani@gmail.com"
          data-currency="cad">
        </script>
      <% end %>
    <% end %>
    </div>
  </div>

</section>
